/*----------Global styles----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/sandwich-main.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbda92a0;
}

.sandwich-menu-bg {
    margin: 0;
    padding: 0;
    background-image: url("../images/sandwich.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbda92a0;
}

.drinks-menu-bg {
    margin: 0;
    padding: 0;
    background-image: url("../images/drinks.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbda92a0;
}

.snacks-menu-bg {
    margin: 0;
    padding: 0;
    background-image: url("../images/snacks.webp");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fbda92a0;
}

/*----------Navbar----------*/

.navbar {
    width: 100%;
    background-color: #22333bca;
}

.navbar-brand {
    color: #fbda92;
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1.5px #22333b;
    transition: all 0.2s ease-in-out;
}

.nav-link {
    color: #22333b;
    font-family: "Concert One", sans-serif;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: #fbda92;
    --bs-navbar-toggler-padding-x: 0.5rem;
}

.navbar-toggler-icon {
    background-color: #fbda92;
    --bs-navbar-toggler-border-color: #fbda92;
}

/*----------Navbar Offcanvas----------*/

.offcanvas-body {
    background-color: #fbda92b5;
}

.offcanvas-header {
    background-color: #fbda92b5;
}

.offcanvas-end {
    opacity: 0.9;
}

/*----------Navbar Offcanvas card----------*/

.card-title {
    font-family: "Concert One", sans-serif;
    color: #fbda92;
}

.card-text {
    font-family: "Concert One", sans-serif;
    color: #fbda92;
}

.card-body {
    background-color: #22333b;
    border-radius: 5px;
}

/*----------Index heading----------*/

h1 {
    font-family: "Concert One", sans-serif;
    font-size: 350%;
    color: #22333b;
}

.heading {
    height: auto;
    padding: 0 0 20px 0;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #fbda92ba;
    width: 60%;
    border: 1px solid #22333b;
    border-radius: 7px;
}

/*----------Carousel----------*/

.carousel {
    background-color: #fbda92ba;
    border-radius: 7px;
    border: 1px solid #22333b;
    margin: 0 0 100px 0;
}

.compliment-title,
h5 {
    font-family: "Concert One", sans-serif;
    color: #22333b;
}

.compliment {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: bolder;
}

.block-divider {
    width: 75px;
    height: 5px;
    background-color: #22333b;
}

/*----------Menus----------*/

h2 {
    font-family: "Shadows into Light", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: #22333b;
    text-decoration: underline;
    padding: 10px;
}

.menu {
    background-color: #fbda92ba;
    border: solid 1px #22333b;
    border-radius: 7px;
}

.menu-sub-header {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #22333b;
}

/*----------Menu tables----------*/

.table {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #22333b;
}

th {
    font-size: 30px;
    font-weight: bold;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

/*----------Contact form----------*/

h3,
h4 {
    font-family: "Concert One", sans-serif;
    color: #22333b;
}

.contact-head {
    background-color: #fbda92ba;
    width: 50%;
    border: 1px solid #22333b;
    border-radius: 7px;
    padding-top: 8px;
}

.contact-heading {
    font-size: 40px;
}

.contact-sub-heading {
    font-size: 35px;
}

.form {
    font-family: "Shadows into Light", sans-serif;
    color: #22333b;
}

.form-control {
    background-color: #fbda92a0;
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 20px;
    border: 1px solid #22333b;
    font-weight: bold;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.send-btn {
    font-family: "Concert One", sans-serif;
    background-color: #fbda92a0;
    color: #22333b;
    border: 1px solid #22333b;
    font-size: 25px;
    padding: 10px;
}

/*----------Address and Map----------*/

.address {
    font-family: "Concert One", sans-serif;
    text-align: center;
    color: #22333b;
    margin-top: 30px;
    background-color: #fbda92a0;
    width: 40%;
    border: 1px solid #22333b;
    border-radius: 7px;
    padding-top: 10px;
}

.contact {
    font-size: 35px;
    font-weight: 500;

}

.sub-contact {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.map {
    margin-top: 30px;
    text-align: center;
}

.map-actual {
    border-radius: 7px;
    text-align: center;
    height: 300px;
    border: 1px solid #22333b;
}

/*----------Confirmation----------*/

.confirm-head {
    background-color: #fbda92ba;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #22333b;
    border-radius: 7px;
    margin-top: 150px;
}

/*----------Footer----------*/

footer {
    color: #22333b;
    font-family: "Concert One", sans-serif;
    background-color: #22333bca;
    padding: 2em 0 1em 0;
}

.fa-brands {
    color: #fbda92;
    font-size: xx-large;
    padding: 2px;
    -webkit-text-stroke: 0.5px #fbda92;
}

.fa-copyright {
    color: #fbda92;
}

.copyright {
    color: #fbda92;
}

/*----------Media queries----------*/

@media only screen and (max-width : 990px) {
    .navbar-collapse {
        background: #fbda92ba;
        padding-left: 20px;
    }

    .contact-head {
        width: 95%;
    }

    .form-control {
        width: 100%;
    }

    .address {
        width: 90%;
    }

    h1 {
        font-size: 300%;
        -webkit-text-stroke-: 1px;
    }

    .heading {
        width: 90%;
    }

    .menu {
        width: 95%;
    }

    th, .price {
        font-size: 25px;
    }
}

@media only screen and (min-width : 990px) {
    .map {
        width: 70%;
    }
}

/*----------Hover----------*/

.navbar-brand:hover {
    color: #22333b;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    -webkit-text-stroke: 1.5px #fbda92;
}

.nav-link:hover {
    color: #fbda92;
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    -webkit-text-stroke: 1px #22333b;
}

.navbar-toggler:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.fa-brands:hover {
    color: #22333b;
    background-color: #fbda92;
    border-radius: 50%;
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

.send-btn:hover {
    background-color: #22333b;
    color: #fbda92;
    transition: all 0.2s ease-in-out;
}

.about-offcanvas a:hover {
    color: #22333b;
    -webkit-text-stroke: 0.5px #fbda92;
    transition: all 0.2s ease-in-out;
}

/*----------About Us Offcanvas----------*/

.about-offcanvas a {
    text-decoration: none;
    color: #fbda92;
    font-size: 25px;
}

.offcanvas-bottom {
    opacity: 0.9;
}