/*----------Global styles----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*----------Root variables----------*/

:root {
    --gunmetal: rgb(34, 51, 59);
    --gunmetal-opaque: rgba(34, 51, 59, 0.792);
    --peach-yellow: rgb(251, 218, 146);
    --peach-yellow-opaque: rgba(251, 218, 146, .729);
    --alpha: 0.825;
}

/*----------Body / Background----------*/

html,
body {
    height: 100%;
}

body>footer {
    position: sticky;
    top: 100vh;
}

body,
[class$="-menu-bg"] {
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: var(--peach-yellow-opaque);
}

body {
    background-image: url("../images/sandwich-main.webp");
}

.sandwich-menu-bg {
    background-image: url("../images/sandwich.webp");
}

.drinks-menu-bg {
    background-image: url("../images/drinks.webp");
}

.snacks-menu-bg {
    background-image: url("../images/snacks.webp");
}

.contact-menu-bg {
    background-image: url("../images/contact.webp");
}

/*----------Navbar----------*/

.navbar {
    width: 100%;
    background-color: var(--gunmetal-opaque);
}

.navbar-brand {
    color: var(--peach-yellow);
    font-family: "Concert One", sans-serif;
    font-size: 40px;
    -webkit-text-stroke: 1.5px var(--gunmetal);
    transition: all 0.2s ease-in-out;
}

.nav-link {
    color: var(--gunmetal);
    font-family: "Concert One", sans-serif;
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.navbar-toggler {
    --bs-navbar-toggler-border-color: var(--peach-yellow);
    --bs-navbar-toggler-padding-x: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.navbar-toggler-icon {
    background-color: var(--peach-yellow);
    --bs-navbar-toggler-border-color: var(--peach-yellow);
}

/*----------Navbar offcanvas----------*/

.offcanvas-body {
    background-color: var(--peach-yellow-opaque);
}

.offcanvas-header {
    background-color: var(--peach-yellow-opaque);
}

.offcanvas-end {
    opacity: var(--alpha);
}

.icon {
    width: 200px;
    height: auto;
}

/*----------Navbar offcanvas card----------*/

.card-title {
    font-family: "Concert One", sans-serif;
    color: var(--peach-yellow);
}

.card-text {
    font-family: "Concert One", sans-serif;
    color: var(--peach-yellow);
}

.card-body {
    background-color: var(--gunmetal);
    border-radius: 5px;
}

/*----------Index heading----------*/

h1 {
    font-family: "Concert One", sans-serif;
    font-size: 350%;
    color: var(--gunmetal);
}

h2 {
    font-family: "Concert One", sans-serif;
    font-size: 300%;
    color: var(--gunmetal);
}

.heading {
    height: auto;
    padding: 0 0 20px 0;
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: var(--peach-yellow-opaque);
    width: 60%;
    border: 1px solid var(--gunmetal);
    border-radius: 7px;
}

/*----------Carousel----------*/

.carousel {
    background-color: var(--peach-yellow-opaque);
    border-radius: 7px;
    border: 1px solid var(--gunmetal);
    margin: 0 0 100px 0;
}

.compliment-title,
h5 {
    font-family: "Concert One", sans-serif;
    color: var(--gunmetal);
}

.compliment {
    font-family: "Shadows Into Light", sans-serif;
    font-weight: bolder;
}

/*----------Block divider----------*/

.block-divider {
    width: 75px;
    height: 5px;
    background-color: var(--gunmetal);
}

/*----------Menus----------*/

.menu-header {
    font-family: "Shadows into Light", sans-serif;
    font-size: 45px;
    font-weight: bolder;
    color: var(--gunmetal);
    text-decoration: underline;
    padding: 10px;
}

.menu {
    background-color: var(--peach-yellow-opaque);
    border: solid 1px var(--gunmetal);
    border-radius: 7px;
}

.menu-sub-header {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--gunmetal);
}

/*----------Menu tables----------*/

.table {
    font-family: "Shadows Into Light", sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: var(--gunmetal);
}

th {
    font-size: 30px;
    font-weight: bold;
}

.price {
    font-size: 30px;
    font-weight: bold;
}

/*----------Contact form----------*/

h3,
h4 {
    font-family: "Concert One", sans-serif;
    color: var(--gunmetal);
}

.contact-head {
    background-color: var(--peach-yellow-opaque);
    width: 50%;
    border: 1px solid var(--gunmetal);
    border-radius: 7px;
    padding-top: 8px;
}

.contact-heading {
    font-size: 40px;
}

.contact-sub-heading {
    font-size: 35px;
}

.form {
    font-family: "Shadows into Light", sans-serif;
    color: var(--gunmetal);
}

.form-control {
    background-color: var(--peach-yellow-opaque);
    width: 70%;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 20px;
    border: 1px solid var(--gunmetal);
    font-weight: bold;
}

.contact-form {
    margin-top: 50px;
    margin-bottom: 50px;
}

.send-btn {
    font-family: "Concert One", sans-serif;
    background-color: var(--peach-yellow-opaque);
    color: var(--gunmetal);
    border: 1px solid var(--gunmetal);
    font-size: 25px;
    padding: 10px;
    transition: all 0.2s ease-in-out;
}

/*----------Address / Map----------*/

.address {
    font-family: "Concert One", sans-serif;
    text-align: center;
    color: var(--gunmetal);
    margin-top: 30px;
    background-color: var(--peach-yellow-opaque);
    width: 40%;
    border: 1px solid var(--gunmetal);
    border-radius: 7px;
    padding-top: 10px;
}

.contact {
    font-size: 35px;
    font-weight: 500;

}

.sub-contact {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.map {
    margin-top: 30px;
    text-align: center;
}

.map-actual {
    border-radius: 7px;
    text-align: center;
    height: 300px;
    border: 1px solid var(--gunmetal);
}

/*----------Confirmation----------*/

.confirm-head {
    background-color: var(--peach-yellow-opaque);
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid var(--gunmetal);
    border-radius: 7px;
    margin-top: 150px;
}

/*----------Footer----------*/

footer {
    color: var(--gunmetal);
    font-family: "Concert One", sans-serif;
    background-color: var(--gunmetal-opaque);
    padding: 2em 0 1em 0;
}

.fa-brands {
    color: var(--peach-yellow);
    font-size: xx-large;
    padding: 2px;
    transition: all 0.2s ease-in-out;
}

.fa-copyright {
    color: var(--peach-yellow);
}

.copyright {
    color: var(--peach-yellow);
}

/*----------Media queries----------*/

@media only screen and (max-width : 990px) {
    .navbar-collapse {
        background: var(--peach-yellow-opaque);
        padding-left: 20px;
    }

    .contact-head {
        width: 95%;
    }

    .form-control {
        width: 100%;
    }

    .address {
        width: 90%;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: 275%;
    }

    .heading {
        width: 90%;
    }

    .menu {
        width: 95%;
    }

    th,
    .price {
        font-size: 25px;
    }
}

@media only screen and (min-width : 990px) {
    .map {
        width: 70%;
    }
}

/*----------Hover----------*/

.navbar-brand:hover {
    color: var(--gunmetal);
    transform: scale(1.1);
    -webkit-text-stroke: 1.5px var(--peach-yellow);
}

.nav-link:hover {
    color: var(--peach-yellow);
    transform: scale(1.2);
    -webkit-text-stroke: 1px var(--gunmetal);
}

.navbar-toggler:hover {
    transform: scale(1.1);
}

.fa-brands:hover {
    color: var(--gunmetal);
    background-color: var(--peach-yellow);
    border-radius: 50%;
    transform: scale(1.1);
}

.send-btn:hover {
    background-color: var(--gunmetal);
    color: var(--peach-yellow);
}

.about-offcanvas a:hover {
    color: var(--gunmetal);
    -webkit-text-stroke: 0.5px var(--peach-yellow);
}

/*----------About Us Offcanvas----------*/

.about-offcanvas a {
    text-decoration: none;
    color: var(--peach-yellow);
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}

.offcanvas-bottom {
    opacity: var(--alpha);
}